@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-width: none;
    scrollbar-color: #8f54a0 #ffffff;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 99px;
    border: 99px solid #ffffff;
}

.css-13cymwt-control{
    border-radius: var(--rounded-btn, 0.5rem) !important;
    border-color: var(--fallback-s,oklch(var(--s)/var(--tw-border-opacity))) !important;
    --tw-border-opacity: 1 !important;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;
    background-color: var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity))) !important;
}

.custom-selectB2b__control--is-focused {
    border: 1px solid black;
    outline: 1px !important;
    --tw-border-opacity: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;
    background-color: var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity))) !important;
}


.css-t3ipsp-control{
    border-color: var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity))) !important;
    box-shadow: var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity))) !important;
}

.css-t3ipsp-control:hover{
    border-radius: var(--rounded-btn, 0.5rem) !important;
    border-color: var(--fallback-s,oklch(var(--s)/var(--tw-border-opacity))) !important;
    --tw-border-opacity: 1 !important;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;
    background-color: var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity))) !important;
}